/**
 * @file media-pexels.entity_browser.css
 */
fieldset.media-pexels-search > .fieldset__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

fieldset.media-pexels-search .fieldset__wrapper > .form-item {
  padding-right: 1em;
}

fieldset.media-pexels-search .fieldset__wrapper .form-type-search input {
  width: 100%;
}

fieldset.media-pexels-search .fieldset__wrapper .form-submit {
  float: left;
  margin-top: 50px;
}

.media-pexels-search-results .grid-item.checked * {
  opacity: 0.3;
}

.media-pexels-no-results {
  width: 100%;
  text-align: center;
}

.media-pexels-quota {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}

.view-content,
.views__content,
.entities-list {
  margin-top: 1em;
  column-count: 1;
  column-gap: 1em;
}
@media (min-width: 300px) {
  .view-content,
  .views__content,
  .entities-list {
    column-count: 2;
  }
}
@media (min-width: 600px) {
  .view-content,
  .views__content,
  .entities-list {
    column-count: 3;
  }
}
@media (min-width: 900px) {
  .view-content,
  .views__content,
  .entities-list {
    column-count: 4;
  }
}
@media (min-width: 1100px) {
  .view-content,
  .views__content,
  .entities-list {
    column-count: 6;
  }
}

.grid-item {
  box-sizing: border-box;
  display: inline-block;
  padding: .75em;
  margin-bottom: 1em;
  width: 100%;
  /* Make sure that long file names with _ and other non break chars by default
     are wrapped. */
  word-break: break-all;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  border: 1px solid #ddd;
  text-align:center;
}
.grid-item:hover {
  border-color: #37802f !important;
  cursor: pointer;
}
.grid-item.checked {
  background: url("../images/checkmark.svg") no-repeat center center !important;
  border-color: #37802f !important;
}
.grid-item img {
  vertical-align: bottom;
}
.grid-item img::selection {
  background: transparent;
}

/* Hide the grid item select checkbox. */
.views-field-entity-browser-select {
  display: none;
}
